SECRET_KEY=cambia-esta-clave
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1

DB_NAME=arealatina_db
DB_USER=postgres
DB_PASSWORD=tu-password
DB_HOST=localhost
DB_PORT=5432

EMAIL_HOST=smtp-relay.brevo.com
EMAIL_PORT=587
EMAIL_HOST_USER=arealatina310@gmail.com
EMAIL_HOST_PASSWORD=
DEFAULT_FROM_EMAIL=Area Latina Estudio <arealatina310@gmail.com>
